# <span style="color:red"> Version antérieure à la mise à jour du 29 Mars 2023 </span>

<div style="background-color: lightyellow; padding: 10px;">

## Enjeux : Réalisez une étude de grande ampleur sur le thème de la sous-nutrition dans le monde.

## Importation des librairies, chargement des fichiers CSV et nettoyages des données

## Plan d'étude :
### I. Demandes formulées par Marc pour l'année 2017
#### I.1. Proportion de personnes en état de sous-nutrition 
#### I.2.Nombre théorique de personnes pouvant être nourris. Le calculer à partir de la disponibilité alimentaire mondiale 
#### I.3. Calculer la disponibilité alimentaire des produits végétaux 
#### I.4.Déterminer l'utilisation de la disponibilité intérieur 
### II. Demandes formulées par Mélanie pour chacun des pays
#### II.1. Pays où la proportion de personnes sous alimentées est la plus forte en 2017
#### II.2. Pays qui ont bénéficié le plus d'aide en 2013
#### II.3. Pays ayant le plus/le moins de disponibilité par habitants

### III. Obervations et remarques de Julien
### Utilisation étonnante de certaines denrées alimentaire: l'exemple des céréales et du manioc
#### III.1. Etude sur l'utilisation des céréales
#### III.2. Etude sur l'utilisation du manioc en Thailande
</div>

# Importation des librairies

In [1]:
#Importation des librairies numpy et panda
import pandas as pd
import numpy as np

# Importation des fichiers CSV et inspection des données

### Importation du fichier "aide_alimentaire" et inspection de ses données

In [2]:
#Importation fichier csv "aide_alimentaire"
aide_alimentaire=pd.read_csv('aide_alimentaire.csv')
aide_alimentaire.head()

  Pays bénéficiaire  Année              Produit  Valeur
0       Afghanistan   2013  Autres non-céréales     682
1       Afghanistan   2014  Autres non-céréales     335
2       Afghanistan   2013         Blé et Farin   39224
3       Afghanistan   2014         Blé et Farin   15160
4       Afghanistan   2013             Céréales   40504

In [3]:
#Vérifier les types de chaque colonnes, les valeurs non-nulles, la taille du dataframe "aide_alimentaire"
aide_alimentaire.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1475 entries, 0 to 1474
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Pays bénéficiaire  1475 non-null   object
 1   Année              1475 non-null   int64
 2   Produit            1475 non-null   object
 3   Valeur             1475 non-null   int64
dtypes: int64(2), object(2)
memory usage: 46.2+ KB

In [4]:
#Renommer la colonne "Valeur" en "Qtité Aide en tonne"
aide_alimentaire=aide_alimentaire.rename(columns={'Valeur':'Qtité Aide en tonne'})

### Importation du fichier "population" et inspection de ses données

In [5]:
#Importation fichier csv "population"
population=pd.read_csv('population.csv')
population.head()

          Zone  Année     Valeur
0  Afghanistan   2013  32269.589
1  Afghanistan   2014  33370.794
2  Afghanistan   2015  34413.603
3  Afghanistan   2016  35383.032
4  Afghanistan   2017  36296.113

In [6]:
#Vérifier les types de chaque colonnes, les valeurs non-nulles, la taille du dataframe "population"
population.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1416 entries, 0 to 1415
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Zone    1416 non-null   object
 1   Année   1416 non-null   int64
 2   Valeur  1416 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 33.3+ KB

In [7]:
#Dans le dataframe "population", la population est exprimée en millier d'habitants => Convertir les milliers en million
population['Valeur'] = population['Valeur']*1000
population

             Zone  Année      Valeur
0     Afghanistan   2013  32269589.0
1     Afghanistan   2014  33370794.0
2     Afghanistan   2015  34413603.0
3     Afghanistan   2016  35383032.0
4     Afghanistan   2017  36296113.0
...           ...    ...         ...
1411     Zimbabwe   2014  13586707.0
1412     Zimbabwe   2015  13814629.0
1413     Zimbabwe   2016  14030331.0
1414     Zimbabwe   2017  14236595.0
1415     Zimbabwe   2018  14438802.0

[1416 rows x 3 columns]

In [8]:
#Renommer colonne 'Valeur' en colonne 'Population'
population=population.rename(columns={'Valeur':'Population'})
population

             Zone  Année  Population
0     Afghanistan   2013  32269589.0
1     Afghanistan   2014  33370794.0
2     Afghanistan   2015  34413603.0
3     Afghanistan   2016  35383032.0
4     Afghanistan   2017  36296113.0
...           ...    ...         ...
1411     Zimbabwe   2014  13586707.0
1412     Zimbabwe   2015  13814629.0
1413     Zimbabwe   2016  14030331.0
1414     Zimbabwe   2017  14236595.0
1415     Zimbabwe   2018  14438802.0

[1416 rows x 3 columns]

### Importation du fichier "sous_nutrition" et inspection de ses données

In [9]:
#Importation fichier csv "sous_nutrition"
sous_nutrition=pd.read_csv('sous_nutrition.csv')
sous_nutrition.head()

          Zone      Année Valeur
0  Afghanistan  2012-2014    8.6
1  Afghanistan  2013-2015    8.8
2  Afghanistan  2014-2016    8.9
3  Afghanistan  2015-2017    9.7
4  Afghanistan  2016-2018   10.5

In [10]:
#Vérifier les types de chaque colonnes, les valeurs non-nulles, la taille du dataframe "sous_nutrition" 
sous_nutrition.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1218 entries, 0 to 1217
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Zone    1218 non-null   object
 1   Année   1218 non-null   object
 2   Valeur  624 non-null    object
dtypes: object(3)
memory usage: 28.7+ KB

In [11]:
#Remplacer les valeurs string'<0.1' en '0.05' puis le convertir en type float. Mais les valeurs seront affectés par la suite 
sous_nutrition['Valeur'] = sous_nutrition['Valeur'].replace('<0.1', '0.05').astype(float)

**Les variables de la colonne "Année" du dataframe "sous_nutrition" sont de type "object" parce qu'elles représentent une intervalle de date. Pour faciliter la fusion avec les deux autres dataframe "population" et "aide_alimentaire" par la suite, ils doivent tous les trois être dans le même type.
Ce changement de type ce déroulera en 4 étapes:**

In [12]:
#Etape 1:Couper le mot composé (intervalle de date) de la colonne 'Année' et mettre les deux parties dans des colonnes différentes en utilisant la méthode 'str.split()'
sous_nutrition[['Début Année', 'Fin Année']] = sous_nutrition['Année'].str.split('-', 1, expand=True)
sous_nutrition

             Zone      Année  Valeur Début Année Fin Année
0     Afghanistan  2012-2014     8.6        2012      2014
1     Afghanistan  2013-2015     8.8        2013      2015
2     Afghanistan  2014-2016     8.9        2014      2016
3     Afghanistan  2015-2017     9.7        2015      2017
4     Afghanistan  2016-2018    10.5        2016      2018
...           ...        ...     ...         ...       ...
1213     Zimbabwe  2013-2015     NaN        2013      2015
1214     Zimbabwe  2014-2016     NaN        2014      2016
1215     Zimbabwe  2015-2017     NaN        2015      2017
1216     Zimbabwe  2016-2018     NaN        2016      2018
1217     Zimbabwe  2017-2019     NaN        2017      2019

[1218 rows x 5 columns]

In [13]:
#Etape 2:Convertir les nouvelles données 'Début Année' et 'Fin Année' en type integer
sous_nutrition[['Début Année', 'Fin Année']]=sous_nutrition[['Début Année', 'Fin Année']].astype(int)
sous_nutrition

             Zone      Année  Valeur  Début Année  Fin Année
0     Afghanistan  2012-2014     8.6         2012       2014
1     Afghanistan  2013-2015     8.8         2013       2015
2     Afghanistan  2014-2016     8.9         2014       2016
3     Afghanistan  2015-2017     9.7         2015       2017
4     Afghanistan  2016-2018    10.5         2016       2018
...           ...        ...     ...          ...        ...
1213     Zimbabwe  2013-2015     NaN         2013       2015
1214     Zimbabwe  2014-2016     NaN         2014       2016
1215     Zimbabwe  2015-2017     NaN         2015       2017
1216     Zimbabwe  2016-2018     NaN         2016       2018
1217     Zimbabwe  2017-2019     NaN         2017       2019

[1218 rows x 5 columns]

In [14]:
#Etape 3: Chercher les moyennes des deux dates: 'Début Année' et 'Fin Année' et les mettre dans la colonne 'Année moy' nouvellement crée
sous_nutrition ['Année moy']=round((sous_nutrition ['Début Année']+sous_nutrition['Fin Année'])/2)
sous_nutrition

             Zone      Année  Valeur  Début Année  Fin Année  Année moy
0     Afghanistan  2012-2014     8.6         2012       2014     2013.0
1     Afghanistan  2013-2015     8.8         2013       2015     2014.0
2     Afghanistan  2014-2016     8.9         2014       2016     2015.0
3     Afghanistan  2015-2017     9.7         2015       2017     2016.0
4     Afghanistan  2016-2018    10.5         2016       2018     2017.0
...           ...        ...     ...          ...        ...        ...
1213     Zimbabwe  2013-2015     NaN         2013       2015     2014.0
1214     Zimbabwe  2014-2016     NaN         2014       2016     2015.0
1215     Zimbabwe  2015-2017     NaN         2015       2017     2016.0
1216     Zimbabwe  2016-2018     NaN         2016       2018     2017.0
1217     Zimbabwe  2017-2019     NaN         2017       2019     2018.0

[1218 rows x 6 columns]

In [15]:
#Etape 4: Suppression des colonnes devenues superflues
sous_nutrition=sous_nutrition.drop(columns=['Année','Début Année','Fin Année'])
sous_nutrition

             Zone  Valeur  Année moy
0     Afghanistan     8.6     2013.0
1     Afghanistan     8.8     2014.0
2     Afghanistan     8.9     2015.0
3     Afghanistan     9.7     2016.0
4     Afghanistan    10.5     2017.0
...           ...     ...        ...
1213     Zimbabwe     NaN     2014.0
1214     Zimbabwe     NaN     2015.0
1215     Zimbabwe     NaN     2016.0
1216     Zimbabwe     NaN     2017.0
1217     Zimbabwe     NaN     2018.0

[1218 rows x 3 columns]

In [16]:
#Renommer la nouvelle colonne 'Année moy' en 'Année' et 'Valeur' en 'Population sous nutris'
sous_nutrition=sous_nutrition.rename(columns={'Année moy':'Année','Valeur':'Population sous nutris'})
sous_nutrition

             Zone  Population sous nutris   Année
0     Afghanistan                     8.6  2013.0
1     Afghanistan                     8.8  2014.0
2     Afghanistan                     8.9  2015.0
3     Afghanistan                     9.7  2016.0
4     Afghanistan                    10.5  2017.0
...           ...                     ...     ...
1213     Zimbabwe                     NaN  2014.0
1214     Zimbabwe                     NaN  2015.0
1215     Zimbabwe                     NaN  2016.0
1216     Zimbabwe                     NaN  2017.0
1217     Zimbabwe                     NaN  2018.0

[1218 rows x 3 columns]

In [17]:
#Multiplier par 1000000 pour un résultat cohérent par la suite
sous_nutrition['Population sous nutris']=sous_nutrition['Population sous nutris']*1000000

## Importation du fichier "dispo_alimentaire" et inspection de ses données

In [18]:
#Importation fichier csv "dispo_alimentaire"
dispo_alimentaire=pd.read_csv('dispo_alimentaire.csv')
dispo_alimentaire.head(60)

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
0,Afghanistan,Abats Comestible,animale,NaN,NaN,5.0,1.72,0.20,0.77,53.0,NaN,NaN,53.0,NaN,53.0,NaN,NaN,NaN
1,Afghanistan,"Agrumes, Autres",vegetale,NaN,NaN,1.0,1.29,0.01,0.02,41.0,2.0,40.0,39.0,2.0,3.0,NaN,NaN,NaN
2,Afghanistan,Aliments pour enfants,vegetale,NaN,NaN,1.0,0.06,0.01,0.03,2.0,NaN,2.0,2.0,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,Ananas,vegetale,NaN,NaN,0.0,0.00,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,Bananes,vegetale,NaN,NaN,4.0,2.70,0.02,0.05,82.0,NaN,82.0,82.0,NaN,NaN,NaN,NaN,NaN
5,Afghanistan,"Beurre, Ghee",animale,NaN,NaN,23.0,1.17,2.61,0.03,36.0,NaN,0.0,36.0,NaN,36.0,NaN,NaN,NaN
6,Afghanistan,Bière,vegetale,NaN,NaN,0.0,0.09,NaN,0.00,3.0,NaN,3.0,3.0,NaN,NaN,NaN,NaN,NaN
7,Afghanistan,Blé,vegetale,NaN,NaN,1369.0,160.23,4.69,36.91,5992.0,NaN,1173.0,4895.0,775.0,5169.0,322.0,NaN,-350.0
8,Afghanistan,Boissons Alcooliques,vegetale,NaN,NaN,0.0,0.00,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
9,Afghanistan,Café,vegetale,NaN,NaN,0.0,0.00,NaN,0.00,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
10,Afghanistan,Coco (Incl Coprah),vegetale,NaN,NaN,0.0,0.00,0.00,0.00,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
11,Afghanistan,Crème,animale,NaN,NaN,3.0,0.60,0.32,0.04,18.0,NaN,18.0,18.0,NaN,NaN,NaN,NaN,NaN
12,Afghanistan,"Céréales, Autres",vegetale,NaN,NaN,0.0,0.00,0.00,0.00,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
13,Afghanistan,Dattes,vegetale,NaN,NaN,0.0,0.02,0.00,0.00,1.0,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN
14,Afghanistan,Edulcorants Autres,vegetale,NaN,NaN,2.0,0.53,NaN,NaN,16.0,NaN,16.0,16.0,NaN,NaN,NaN,NaN,NaN
15,Afghanistan,Feve de Cacao,vegetale,NaN,NaN,0.0,0.02,0.04,0.01,1.0,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN
16,Afghanistan,"Fruits, Autres",vegetale,NaN,NaN,9.0,7.29,0.06,0.14,240.0,69.0,4.0,223.0,17.0,304.0,NaN,NaN,1.0
17,Afghanistan,Graines de coton,vegetale,NaN,NaN,NaN,NaN,NaN,NaN,27.0,0.0,NaN,NaN,NaN,27.0,1.0,26.0,NaN
18,Afghanistan,Graines de tournesol,vegetale,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,3.0,0.0,3.0,NaN
19,Afghanistan,Graisses Animales Crue,animale,NaN,NaN,12.0,0.49,1.31,0.01,15.0,NaN,1.0,15.0,NaN,14.0,NaN,NaN,NaN
20,Afghanistan,Huil Plantes Oleif Autr,vegetale,NaN,359.0,2.0,0.08,0.21,0.00,361.0,NaN,360.0,2.0,NaN,1.0,NaN,NaN,NaN
21,Afghanistan,Huile Graines de Coton,vegetale,NaN,1.0,3.0,0.12,0.34,NaN,5.0,NaN,NaN,4.0,NaN,5.0,NaN,NaN,NaN
22,Afghanistan,Huile d'Arachide,vegetale,NaN,NaN,0.0,0.00,0.00,NaN,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
23,Afghanistan,Huile d'Olive,vegetale,NaN,NaN,0.0,0.02,0.05,NaN,1.0,NaN,0.0,1.0,NaN,1.0,NaN,NaN,NaN
24,Afghanistan,Huile de Colza&Moutarde,vegetale,NaN,NaN,2.0,0.07,0.18,NaN,2.0,NaN,2.0,2.0,NaN,NaN,NaN,NaN,NaN
25,Afghanistan,Huile de Palme,vegetale,NaN,55.0,51.0,2.09,5.74,NaN,119.0,NaN,119.0,64.0,NaN,NaN,NaN,NaN,NaN
26,Afghanistan,Huile de Soja,vegetale,NaN,NaN,13.0,0.53,1.46,NaN,16.0,NaN,16.0,16.0,NaN,NaN,NaN,NaN,NaN
27,Afghanistan,Huile de Sésame,vegetale,NaN,NaN,1.0,0.05,0.13,NaN,1.0,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN
28,Afghanistan,Huile de Tournesol,vegetale,NaN,NaN,18.0,0.75,2.06,NaN,23.0,NaN,22.0,23.0,NaN,1.0,NaN,NaN,NaN
29,Afghanistan,Lait - Excl Beurre,animale,123.0,NaN,100.0,62.23,5.19,6.12,2083.0,0.0,248.0,1901.0,58.0,1835.0,NaN,NaN,NaN
30,Afghanistan,"Légumes, Autres",vegetale,NaN,NaN,17.0,28.97,0.13,0.85,1007.0,34.0,124.0,885.0,122.0,916.0,NaN,NaN,NaN
31,Afghanistan,Légumineuses Autres,vegetale,4.0,NaN,23.0,2.44,0.14,1.56,86.0,0.0,26.0,74.0,3.0,60.0,5.0,NaN,NaN
32,Afghanistan,Maïs,vegetale,200.0,NaN,21.0,2.50,0.30,0.56,313.0,0.0,1.0,76.0,31.0,312.0,5.0,NaN,NaN
33,Afghanistan,Miel,vegetale,NaN,NaN,1.0,0.07,NaN,0.00,2.0,0.0,0.0,2.0,NaN,2.0,NaN,NaN,NaN
34,Afghanistan,Millet,vegetale,NaN,NaN,3.0,0.40,0.02,0.08,13.0,NaN,NaN,12.0,1.0,13.0,0.0,NaN,NaN
35,Afghanistan,Miscellanees,vegetale,NaN,NaN,1.0,NaN,0.02,0.02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Afghanistan,Noix,vegetale,NaN,NaN,12.0,1.45,1.07,0.38,44.0,12.0,NaN,44.0,NaN,56.0,NaN,NaN,NaN
37,Afghanistan,Oeufs,animale,NaN,NaN,5.0,1.30,0.36,0.38,47.0,NaN,29.0,40.0,5.0,18.0,2.0,NaN,NaN
38,Afghanistan,Olives,vegetale,NaN,NaN,0.0,0.06,0.03,0.00,7.0,0.0,NaN,2.0,0.0,7.0,NaN,4.0,NaN
39,Afghanistan,"Oranges, Mandarines",vegetale,NaN,NaN,4.0,4.75,0.01,0.07,145.0,0.0,139.0,145.0,0.0,6.0,NaN,NaN,NaN
40,Afghanistan,Orge,vegetale,360.0,NaN,26.0,2.92,0.24,0.79,524.0,NaN,10.0,89.0,52.0,514.0,22.0,NaN,0.0
41,Afghanistan,"Plantes Oleiferes, Autre",vegetale,NaN,NaN,NaN,NaN,NaN,NaN,3.0,0.0,NaN,NaN,0.0,3.0,0.0,2.0,NaN
42,Afghanistan,Poissons Eau Douce,animale,NaN,0.0,0.0,0.07,0.00,0.02,2.0,NaN,0.0,2.0,NaN,2.0,NaN,NaN,NaN
43,Afghanistan,Poivre,vegetale,NaN,NaN,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0
44,Afghanistan,Pommes,vegetale,NaN,NaN,3.0,2.22,0.01,0.02,72.0,7.0,0.0,68.0,4.0,79.0,NaN,NaN,NaN
45,Afghanistan,Pommes de Terre,vegetale,NaN,NaN,15.0,7.53,0.04,0.25,262.0,41.0,0.0,230.0,9.0,303.0,23.0,NaN,NaN
46,Afghanistan,Raisin,vegetale,NaN,NaN,29.0,15.80,0.12,0.27,513.0,97.0,NaN,483.0,31.0,611.0,NaN,NaN,0.0
47,Afghanistan,Riz (Eq Blanchi),vegetale,NaN,NaN,141.0,13.82,0.27,2.70,461.0,NaN,119.0,422.0,24.0,342.0,14.0,NaN,NaN
48,Afghanistan,Sucre Eq Brut,vegetale,NaN,NaN,84.0,8.35,NaN,NaN,255.0,NaN,271.0,255.0,NaN,2.0,NaN,NaN,-19.0
49,Afghanistan,"Sucre, betterave",vegetale,0.0,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN,NaN,15.0,NaN,15.0,NaN
50,Afghanistan,"Sucre, canne",vegetale,81.0,NaN,NaN,NaN,NaN,NaN,90.0,NaN,NaN,NaN,NaN,90.0,NaN,9.0,NaN
51,Afghanistan,Sésame,vegetale,NaN,NaN,9.0,0.52,0.77,0.27,21.0,11.0,NaN,16.0,1.0,32.0,1.0,4.0,0.0
52,Afghanistan,Thé,vegetale,NaN,NaN,4.0,3.49,NaN,0.96,107.0,NaN,107.0,107.0,NaN,NaN,NaN,NaN,NaN
53,Afghanistan,Tomates,vegetale,NaN,NaN,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
54,Afghanistan,Viande d'Ovins/Caprins,animale,NaN,NaN,31.0,4.92,2.55,1.91,150.0,NaN,NaN,150.0,NaN,150.0,NaN,NaN,NaN
55,Afghanistan,Viande de Bovins,animale,NaN,NaN,27.0,4.59,2.10,1.89,140.0,NaN,6.0,140.0,NaN,134.0,NaN,NaN,NaN
56,Afghanistan,Viande de Volailles,animale,NaN,NaN,9.0,2.45,0.53,0.87,75.0,NaN,48.0,75.0,NaN,26.0,NaN,NaN,NaN
57,Afghanistan,"Viande, Autre",animale,NaN,NaN,1.0,0.38,0.06,0.17,12.0,NaN,0.0,12.0,NaN,12.0,NaN,NaN,NaN
58,Afghanistan,Vin,vegetale,NaN,NaN,0.0,0.00,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
59,Afghanistan,"Épices, Autres",vegetale,NaN,NaN,2.0,0.26,0.10,0.11,8.0,5.0,0.0,8.0,NaN,13.0,NaN,NaN,0.0

In [19]:
#Vérifier les types de chaque colonnes, les valeurs non-nulles, la taille du dataframe 'dispo_alimentaire'
dispo_alimentaire.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15605 entries, 0 to 15604
Data columns (total 18 columns):
 #   Column                                                         Non-Null Count  Dtype
---  ------                                                         --------------  -----
 0   Zone                                                           15605 non-null  object
 1   Produit                                                        15605 non-null  object
 2   Origine                                                        15605 non-null  object
 3   Aliments pour animaux                                          2720 non-null   float64
 4   Autres Utilisations                                            5496 non-null   float64
 5   Disponibilité alimentaire (Kcal/personne/jour)                 14241 non-null  float64
 6   Disponibilité alimentaire en quantité (kg/personne/an)         14015 non-null  float64
 7   Disponibilité de matière grasse en quantité (g/personne/jour)  11794 non-null  float64
 8   Disponibilité de protéines en quantité (g/personne/jour)       11561 non-null  float64
 9   Disponibilité intérieure                                       15382 non-null  float64
 10  Exportations - Quantité                                        12226 non-null  float64
 11  Importations - Quantité                                        14852 non-null  float64
 12  Nourriture                                                     14015 non-null  float64
 13  Pertes                                                         4278 non-null   float64
 14  Production                                                     9180 non-null   float64
 15  Semences                                                       2091 non-null   float64
 16  Traitement                                                     2292 non-null   float64
 17  Variation de stock                                             6776 non-null   float64
dtypes: float64(15), object(3)
memory usage: 2.1+ MB

# I. Demandes formulées par Marc pour l'année 2017

## I.1. Proportion de personnes en état de sous-nutrition

In [20]:
#Présélectionner la date 2017 dans les 2 dataframes "sous_nutrition" et "population" pour faciliter le codage par la 
Sous_nutrition2017=sous_nutrition.loc[sous_nutrition['Année']==2017]
Population2017=population.loc[population['Année']==2017]

In [21]:
#Fusionner les dataframe "sous_nutrition" et "Population2017" pour créer le dataframe "proportion_pers_sous_nutris"
proportion_pers_sous_nutris=pd.merge(Sous_nutrition2017, Population2017, on=['Zone','Année'], how ='inner')
display(proportion_pers_sous_nutris)

,Zone,Population sous nutris,Année,Population
0,Afghanistan,10500000.0,2017.0,36296113.0
1,Afrique du Sud,3100000.0,2017.0,57009756.0
2,Albanie,100000.0,2017.0,2884169.0
3,Algérie,1300000.0,2017.0,41389189.0
4,Allemagne,NaN,2017.0,82658409.0
...,...,...,...,...
198,Venezuela (République bolivarienne du),8000000.0,2017.0,29402484.0
199,Viet Nam,6500000.0,2017.0,94600648.0
200,Yémen,NaN,2017.0,27834819.0
201,Zambie,NaN,2017.0,16853599.0
202,Zimbabwe,NaN,2017.0,14236595.0

In [22]:
#Population totale (mondiale)
PopTotale=proportion_pers_sous_nutris['Population'].sum()
PopTotale

7543798779.0

In [23]:
#Somme des personnes sous nutris 
PersSousNutris=proportion_pers_sous_nutris['Population sous nutris'].sum()
PersSousNutris

536700000.0

**Proportion de personnes en état de sous nutrition**

In [24]:
#Proportion des personnes en état de sous nutrition en pourcentage
PropPersSousNutris=(PersSousNutris/PopTotale*100)

print("La proportion de personnes sous-nutris est de:","%.2f" % PropPersSousNutris,"%")

La proportion de personnes sous-nutris est de: 7.11 %

## I.2. Nombre théorique de personnes pouvant être nourris. Le calculer à partir de la disponibilité alimentaire mondiale

In [25]:
#Reprise du dataframe Population2017 de la question1
Population2017=population.loc[population['Année']==2017]
#Création d'un dataframe "dispo_alim1" 
dispo_alim1=dispo_alimentaire[['Zone','Disponibilité alimentaire (Kcal/personne/jour)']]
dispo_alim1=dispo_alim1.groupby('Zone')['Disponibilité alimentaire (Kcal/personne/jour)'].sum()
dispo_alim1

Zone
Afghanistan              2087.0
Afrique du Sud           3020.0
Albanie                  3188.0
Algérie                  3293.0
Allemagne                3503.0
                          ...
Émirats arabes unis      3275.0
Équateur                 2346.0
États-Unis d'Amérique    3682.0
Éthiopie                 2129.0
Îles Salomon             2383.0
Name: Disponibilité alimentaire (Kcal/personne/jour), Length: 174, dtype: float64

In [26]:
 #Création du dataframe "DISPO_ALIM2017" issu de la fusion entre le df "Population2017" et "dispo_alim1"
DISPO_ALIM2017=pd.merge(dispo_alim1, Population2017, on='Zone')
DISPO_ALIM2017

,Zone,Disponibilité alimentaire (Kcal/personne/jour),Année,Population
0,Afghanistan,2087.0,2017,36296113.0
1,Afrique du Sud,3020.0,2017,57009756.0
2,Albanie,3188.0,2017,2884169.0
3,Algérie,3293.0,2017,41389189.0
4,Allemagne,3503.0,2017,82658409.0
...,...,...,...,...
167,Émirats arabes unis,3275.0,2017,9487203.0
168,Équateur,2346.0,2017,16785361.0
169,États-Unis d'Amérique,3682.0,2017,325084756.0
170,Éthiopie,2129.0,2017,106399924.0
171,Îles Salomon,2383.0,2017,636039.0

In [27]:
#Création de la colonne Disponibilité alimentaire (Kcal/pays/an) qui sera une conversion de la disponibilité en Kcal/pers/jour, pour cela il faut multiplier par 365 (1an pour l'année 2017) et par le nombre de population
DISPO_ALIM2017['Disponibilité alimentaire (Kcal/pays/an)']=DISPO_ALIM2017['Disponibilité alimentaire (Kcal/personne/jour)']*365*DISPO_ALIM2017['Population']

**Déterminer la disponibilité alimentaire annuelles par pays**

In [28]:
DISPO_ALIM2017['Disponibilité alimentaire (Kcal/pays/an)'].sum()
print("Il y a une disponibilité alimentaire totale de:", DISPO_ALIM2017['Disponibilité alimentaire (Kcal/pays/an)'].sum(),"Kcal")

Il y a une disponibilité alimentaire totale de: 7635429388975815.0 Kcal

**Déterminer les besoins caloriques annuelles par pays**

In [29]:
#Un homme a besoin entre 2400 à 2600 Kcal par jour, on choisit de prendre 2600Kcal
#Besoin calorique journalier pour un homme => BesoinKcalHJr(Kcal/jr)
BesoinKcalHJr=2600
#Besoin calorique annuel par pays pour un an =>BesoinKcalPaysPAn
#Création d'une nouvelle colonne 'BesoinKcalPaysPAn'
DISPO_ALIM2017['BesoinKcalPaysPAn'] = BesoinKcalHJr*365*DISPO_ALIM2017['Population']

**Pourcentage de personnes pouvant être nourries**

In [30]:
#Pourcentage des personnes pouvant être nourris
#Calcul de la disponibilité alimentaire mondiale pour un an (2017)
DISPO_ALIMmond2017=DISPO_ALIM2017['Disponibilité alimentaire (Kcal/pays/an)'].sum()
#Calcul du besoin calorique mondial
BesoinKcalMond2017=DISPO_ALIM2017['BesoinKcalPaysPAn'].sum()
#Calcul du pourcentage de personnes pouvant être nourris
Pourc_PersPEN=(DISPO_ALIMmond2017/BesoinKcalMond2017)*100

print("Le pourcentage de personnes pouvant être nourries est de:","%.2f" % Pourc_PersPEN,"%")

Le pourcentage de personnes pouvant être nourries est de: 110.34 %

**Nombre théorique de personnes pouvant être nourries**

In [31]:
#Nombre théorique de personnes pouvant être nourries
#Calcul de la population mondiale en 2017
PopulationMond2017=DISPO_ALIM2017['Population'].sum()
#Calcul du nombre théorique de personnes pouvant être nourries
NbretheoPersPEN=(Pourc_PersPEN*PopulationMond2017)/100
print("Nous pouvons nourrir théoriquement environ:", round(NbretheoPersPEN,3),"personnes")

Nous pouvons nourrir théoriquement environ: 8045763318.204 personnes

## I.3. Calculer la disponibilité alimentaire des produits végétaux

In [32]:
#Même procédé que la question précédente sauf que l'on va ajouter la colonne "Origine" pour sélectionner les produits d'origine végétales
dispo_alimVeg=dispo_alimentaire[['Zone', 'Origine','Disponibilité alimentaire (Kcal/personne/jour)']]
dispo_alimVeg=dispo_alimVeg.loc[dispo_alimVeg['Origine']=='vegetale']
dispo_alimVeg

               Zone   Origine  Disponibilité alimentaire (Kcal/personne/jour)
1       Afghanistan  vegetale                                             1.0
2       Afghanistan  vegetale                                             1.0
3       Afghanistan  vegetale                                             0.0
4       Afghanistan  vegetale                                             4.0
6       Afghanistan  vegetale                                             0.0
...             ...       ...                                             ...
15595  Îles Salomon  vegetale                                             0.0
15596  Îles Salomon  vegetale                                             0.0
15597  Îles Salomon  vegetale                                             0.0
15603  Îles Salomon  vegetale                                             0.0
15604  Îles Salomon  vegetale                                             4.0

[11896 rows x 3 columns]

In [33]:
dispo_alimVeg=dispo_alimVeg.groupby('Zone')['Disponibilité alimentaire (Kcal/personne/jour)'].sum()
dispo_alimVeg

Zone
Afghanistan              1871.0
Afrique du Sud           2533.0
Albanie                  2203.0
Algérie                  2915.0
Allemagne                2461.0
                          ...
Émirats arabes unis      2718.0
Équateur                 1732.0
États-Unis d'Amérique    2698.0
Éthiopie                 2005.0
Îles Salomon             2187.0
Name: Disponibilité alimentaire (Kcal/personne/jour), Length: 174, dtype: float64

In [34]:
 #Création du dataframe "DISPO_ALIM2017" issu de la fusion entre le df "Population2017" et "dispo_alimVeg"
DISPO_ALIM2017Veg=pd.merge(dispo_alimVeg, Population2017, on='Zone')
DISPO_ALIM2017Veg

,Zone,Disponibilité alimentaire (Kcal/personne/jour),Année,Population
0,Afghanistan,1871.0,2017,36296113.0
1,Afrique du Sud,2533.0,2017,57009756.0
2,Albanie,2203.0,2017,2884169.0
3,Algérie,2915.0,2017,41389189.0
4,Allemagne,2461.0,2017,82658409.0
...,...,...,...,...
167,Émirats arabes unis,2718.0,2017,9487203.0
168,Équateur,1732.0,2017,16785361.0
169,États-Unis d'Amérique,2698.0,2017,325084756.0
170,Éthiopie,2005.0,2017,106399924.0
171,Îles Salomon,2187.0,2017,636039.0

In [35]:
#Création de la colonne Disponibilité alimentaire (Kcal/pays/an) qui sera une conversion de la disponibilité en Kcal/pers/jour, pour cela il faut multiplier par 365 (1an pour l'année 2017) et par le nombre de population
DISPO_ALIM2017Veg['Disponibilité alimentaire (Kcal/pays/an)']=DISPO_ALIM2017Veg['Disponibilité alimentaire (Kcal/personne/jour)']*365*DISPO_ALIM2017Veg['Population']

**Déterminer la disponibilité alimentaire annuelles de produit végétaux par pays**

In [36]:
DISPO_ALIM2017Veg['Disponibilité alimentaire (Kcal/pays/an)'].sum()
print("Il y a une disponibilité alimentaire totale de produit végataux de:", DISPO_ALIM2017Veg['Disponibilité alimentaire (Kcal/pays/an)'].sum(),"Kcal")

Il y a une disponibilité alimentaire totale de produit végataux de: 6300178937197865.0 Kcal

**Déterminer les besoins caloriques annuelles par pays**

In [37]:
#Un homme a besoin entre 2400 à 2600 Kcal par jour, on choisit de prendre 2600Kcal pour plus 
#Besoin calorique journalier pour un homme => BesoinKcalHJr(Kcal/jr)
BesoinKcalHJr=2600
#Besoin calorique annuel par pays pour un an (BesoinKcalPaysPAn) 
#Déterminé par la multiplication du besoin journalier d'un homme, par 365 (1 an) et par le nombre de population
#Création d'une nouvelle colonne 'BesoinKcalPaysPAn'
DISPO_ALIM2017Veg['BesoinKcalPaysPAn'] = BesoinKcalHJr*365*DISPO_ALIM2017Veg['Population']
DISPO_ALIM2017Veg

,Zone,Disponibilité alimentaire (Kcal/personne/jour),Année,Population,Disponibilité alimentaire (Kcal/pays/an),BesoinKcalPaysPAn
0,Afghanistan,1871.0,2017,36296113.0,2.478716e+13,3.444501e+13
1,Afrique du Sud,2533.0,2017,57009756.0,5.270808e+13,5.410226e+13
2,Albanie,2203.0,2017,2884169.0,2.319146e+12,2.737076e+12
3,Algérie,2915.0,2017,41389189.0,4.403706e+13,3.927834e+13
4,Allemagne,2461.0,2017,82658409.0,7.424916e+13,7.844283e+13
...,...,...,...,...,...,...
167,Émirats arabes unis,2718.0,2017,9487203.0,9.411969e+12,9.003356e+12
168,Équateur,1732.0,2017,16785361.0,1.061137e+13,1.592931e+13
169,États-Unis d'Amérique,2698.0,2017,325084756.0,3.201337e+14,3.085054e+14
170,Éthiopie,2005.0,2017,106399924.0,7.786612e+13,1.009735e+14
171,Îles Salomon,2187.0,2017,636039.0,5.077213e+11,6.036010e+11

**Pourcentage de personnes pouvant être nourries de produits végétaux**

In [38]:
#Pourcentage de personnes pouvant être nourris de végétaux
#Calcul de la disponibilité alimentaire mondiale de végétaux pour un an (2017)
DISPO_ALIMmondVeg2017=DISPO_ALIM2017Veg['Disponibilité alimentaire (Kcal/pays/an)'].sum()
#Calcul du besoin calorique mondial
BesoinKcalMond2017=DISPO_ALIM2017Veg['BesoinKcalPaysPAn'].sum()
#Calcul du pourcentage de personnes pouvant être nourris de végétaux
Pourc_PersPENV=(DISPO_ALIMmondVeg2017/BesoinKcalMond2017)*100
print("Le pourcentage de personnes pouvant être nourries de produits végétaux est de:","%.2f" % Pourc_PersPENV,"%")

Le pourcentage de personnes pouvant être nourries de produits végétaux est de: 91.04 %

**Nombre théorique de personnes pouvant être nourries**

In [39]:
#Nombre théorique de personnes pouvant être nourries
#Calcul de la population mondiale en 2017
PopulationMond2017=DISPO_ALIM2017Veg['Population'].sum()
#Calcul du nombre théorique de personnes pouvant être nourries
NbretheoPersPENV=(Pourc_PersPENV*PopulationMond2017)/100
print("Nous pouvons nourrir théoriquement environ:", round(NbretheoPersPENV,3),"personnes")

Nous pouvons nourrir théoriquement environ: 6638755465.962 personnes

##  I.4. Déterminer l'utilisation de la disponibilité intérieur:

## **Equation du bilan alimentaire trouvée par Julien**

***Julien a constaté qu'il y a un lien logique entre l’ensemble des 10 variables exprimées en milliers de tonnes sur
les utilisations de la disponibilité intérieure, qui peut s’exprimer avec une équation sous la forme:
A1 + A2 + … = disponibilité intérieure = B1 + B2 + …***  

***Julien a en fait trouvé l'équation du bilan alimentaire:***

*Disponibilité intérieure = Productions + Importations - Exportations + Variation des stocks*   
*Disponibilité intérieure = Semences + Aliments pour animaux + Nourriture + Pertes + Autres utilisations + Traitements*  

**Donc:**    

*Semences + Aliments pour animaux + Nourriture + Pertes + Autres utilisations + Traitements = **Disponibilité intérieure** = Productions + Importations - Exportations + Variation des stocks*

### - La part d'alimentation animale

In [40]:
#Somme de l'alimentation animale
Somme_AlimAnim=dispo_alimentaire['Aliments pour animaux'].sum()
Somme_AlimAnim

1304245.0

In [41]:
#Somme de la disponibilité intérieure
Somme_DispInt=dispo_alimentaire['Disponibilité intérieure'].sum()
Somme_DispInt

9848994.0

In [42]:
#Pourcentage pour l'alimentation animale
Pourc_AlimAnim=(Somme_AlimAnim/Somme_DispInt)*100

print("La part d'alimentation animale représentent:","%.2f" % Pourc_AlimAnim,"%")

La part d'alimentation animale représentent: 13.24 %

### - Les pertes

In [43]:
#Somme des pertes
Somme_Pertes=dispo_alimentaire['Pertes'].sum()
Somme_Pertes

453698.0

In [44]:
#Pourcentage des pertes
Pourc_pertes=(Somme_Pertes/Somme_DispInt)*100

print("Les pertes représentent:","%.2f" % Pourc_pertes,"%")

Les pertes représentent: 4.61 %

### - La part dans l'alimentation humaine

In [45]:
#Somme de l'alimentation humaine (Nourriture)
Somme_AlimHum=dispo_alimentaire['Nourriture'].sum()
Somme_AlimHum

4876258.0

In [46]:
#Pourcentage de l'alimentation humaine
Pourc_AlimHum=(Somme_AlimHum/Somme_DispInt)*100

print("La part de l'alimentation humaine représentent:","%.2f" % Pourc_AlimHum,"%")

La part de l'alimentation humaine représentent: 49.51 %

# II. Demandes formulées par Mélanie pour chacun des pays

## II.1. Pays où la proportion de personnes sous alimentées est la plus forte en 2017

In [47]:
#Reprise du dataframe "proportion_pers_sous_nutris" de la question 1 et filtrage sur l'année 2017
BcpPersSousNutris2017=proportion_pers_sous_nutris.loc[proportion_pers_sous_nutris['Année']==2017]
#Somme de la population totale de chaque pays et de la population sous nutris
BcpPersSousNutris2017=proportion_pers_sous_nutris.groupby('Zone')[['Population sous nutris','Population']].sum()
BcpPersSousNutris2017

                       Population sous nutris   Population
Zone
Afghanistan                        10500000.0   36296113.0
Afrique du Sud                      3100000.0   57009756.0
Albanie                              100000.0    2884169.0
Algérie                             1300000.0   41389189.0
Allemagne                                 0.0   82658409.0
...                                       ...          ...
États-Unis d'Amérique                     0.0  325084756.0
Éthiopie                           21100000.0  106399924.0
Îles Cook                                 0.0      17507.0
Îles Marshall                             0.0      58058.0
Îles Salomon                          50000.0     636039.0

[203 rows x 2 columns]

In [48]:
#Calcul de la proportion de personnes sous nutris
BcpPersSousNutris2017['PropPersSousNutris2017']=(BcpPersSousNutris2017['Population sous nutris']/BcpPersSousNutris2017['Population'])*100
#Tri en décroissant de la proportion de personnes sous nutris
PropSousNutris2017=BcpPersSousNutris2017.sort_values('PropPersSousNutris2017', ascending=False)
PropSousNutris2017.head(15)

,Population sous nutris,Population,PropPersSousNutris2017
Zone,,,
Dominique,50000.0,71458.0,69.971172
Haïti,5300000.0,10982366.0,48.259182
République populaire démocratique de Corée,12000000.0,25429825.0,47.188685
Saint-Vincent-et-les Grenadines,50000.0,109827.0,45.526146
Kiribati,50000.0,114158.0,43.798945
Madagascar,10500000.0,25570512.0,41.062924
Libéria,1800000.0,4702226.0,38.279742
Lesotho,800000.0,2091534.0,38.249438
Tchad,5700000.0,15016753.0,37.957606
Rwanda,4200000.0,11980961.0,35.055619
Mozambique,9400000.0,28649018.0,32.810898
Timor-Leste,400000.0,1243258.0,32.173531
Afghanistan,10500000.0,36296113.0,28.928718
Congo,1400000.0,5110695.0,27.393535
Venezuela (République bolivarienne du),8000000.0,29402484.0,27.208586

## II.2. Pays qui ont bénéficié le plus d'aide en 2013

In [49]:
aide_alimentaire

     Pays bénéficiaire  Année                   Produit  Qtité Aide en tonne
0          Afghanistan   2013       Autres non-céréales                  682
1          Afghanistan   2014       Autres non-céréales                  335
2          Afghanistan   2013              Blé et Farin                39224
3          Afghanistan   2014              Blé et Farin                15160
4          Afghanistan   2013                  Céréales                40504
...                ...    ...                       ...                  ...
1470          Zimbabwe   2015  Mélanges et préparations                   96
1471          Zimbabwe   2013              Non-céréales                 5022
1472          Zimbabwe   2014              Non-céréales                 2310
1473          Zimbabwe   2015              Non-céréales                  306
1474          Zimbabwe   2013                Riz, total                   64

[1475 rows x 4 columns]

In [50]:
#Filtrage de l'année 2013 et somme de la quantité d'aide alimentaire qui a été donnée
PlusAideAlim=aide_alimentaire.loc[aide_alimentaire["Année"]==2013, 'Qtité Aide en tonne'].sum()
#Aggrégation par pays bénéficiaires et tri par ordre décroissant pour déterminer les pays pays qui ont bénéficiés le plus d'aide
PlusAideAlim=(aide_alimentaire.groupby('Pays bénéficiaire').sum()).sort_values('Qtité Aide en tonne', ascending=False)
PlusAideAlim.head(15)

                                            Année  Qtité Aide en tonne
Pays bénéficiaire
République arabe syrienne                   76543              1858943
Éthiopie                                    66460              1381294
Yémen                                       76553              1206484
Soudan du Sud                               44309               695248
Soudan                                      48335               669784
Kenya                                       54376               552836
Bangladesh                                  50347               348188
Somalie                                     54377               292678
République démocratique du Congo            50350               288502
Niger                                       62448               276344
Tchad                                       56392               267966
Pakistan                                    38261               231072
République populaire démocratique de Corée  58413               187412
Afghanistan                                 32216               185452
République-Unie de Tanzanie                 48334               172022

## II.3. Pays ayant le plus/le moins de disponibilité par habitants

**Pays ayant le moins de disponibilité alimentaire**

In [51]:

dispo_alimFaible=dispo_alimentaire[['Zone','Disponibilité alimentaire (Kcal/personne/jour)']]
DISPOALIM_Faible=dispo_alimFaible.groupby('Zone').sum().sort_values('Disponibilité alimentaire (Kcal/personne/jour)')
DISPOALIM_Faible.head(15)

                                            Disponibilité alimentaire (Kcal/personne/jour)
Zone
République centrafricaine                                                           1879.0
Zambie                                                                              1924.0
Madagascar                                                                          2056.0
Afghanistan                                                                         2087.0
Haïti                                                                               2089.0
République populaire démocratique de Corée                                          2093.0
Tchad                                                                               2109.0
Zimbabwe                                                                            2113.0
Ouganda                                                                             2126.0
Timor-Leste                                                                         2129.0
Éthiopie                                                                            2129.0
Namibie                                                                             2166.0
Tadjikistan                                                                         2199.0
République-Unie de Tanzanie                                                         2204.0
Kenya                                                                               2205.0

**Pays ayant le plus de disponibilité alimentaire**

In [52]:
dispo_alimFort=dispo_alimentaire[['Zone','Disponibilité alimentaire (Kcal/personne/jour)']]
DISPOALIM_Fort=dispo_alimFort.groupby('Zone').sum().sort_values('Disponibilité alimentaire (Kcal/personne/jour)',ascending=False)
DISPOALIM_Fort.head(15)

                       Disponibilité alimentaire (Kcal/personne/jour)
Zone
Autriche                                                       3770.0
Belgique                                                       3737.0
Turquie                                                        3708.0
États-Unis d'Amérique                                          3682.0
Israël                                                         3610.0
Irlande                                                        3602.0
Italie                                                         3578.0
Luxembourg                                                     3540.0
Égypte                                                         3518.0
Allemagne                                                      3503.0
Koweït                                                         3499.0
Canada                                                         3499.0
Monténégro                                                     3490.0
Norvège                                                        3483.0
France                                                         3482.0

## III. Obervations et remarques de Julien

### Utilisation étonnante de certaines denrées alimentaire: l'exemple des céréales et du manioc

### ***III.1. Etude sur l'utilisation des céréales***

In [53]:
#Importation du fichier csv généré dans l'onglet bilan alimentaire sur le site de la FAO
FichierCereales=pd.read_csv('FAOSTAT_data_fr_4-2-2023.csv')

In [54]:
#Extraction de la liste de céréales
ProdCereales=FichierCereales.drop_duplicates(subset=['Produit'])
ProdCereales

,Code Domaine,Domaine,Code zone (M49),Zone,Code Élément,Élément,Code Produit (CPC),Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBS,Bilans Alimentaires (2010-),4,Afghanistan,5521,Aliments pour animaux,S2511,Blé et produits,2017,2017,Milliers de tonnes,221,I,Valeur imputée
2,FBS,Bilans Alimentaires (2010-),4,Afghanistan,5521,Aliments pour animaux,S2807,Riz et produits,2017,2017,Milliers de tonnes,4,I,Valeur imputée
4,FBS,Bilans Alimentaires (2010-),4,Afghanistan,5521,Aliments pour animaux,S2513,Orge et produits,2017,2017,Milliers de tonnes,67,I,Valeur imputée
6,FBS,Bilans Alimentaires (2010-),4,Afghanistan,5521,Aliments pour animaux,S2514,Maïs et produits,2017,2017,Milliers de tonnes,111,I,Valeur imputée
8,FBS,Bilans Alimentaires (2010-),4,Afghanistan,5521,Aliments pour animaux,S2515,Seigle et produits,2017,2017,Milliers de tonnes,0,I,Valeur imputée
10,FBS,Bilans Alimentaires (2010-),4,Afghanistan,5521,Aliments pour animaux,S2516,Avoine,2017,2017,Milliers de tonnes,0,I,Valeur imputée
12,FBS,Bilans Alimentaires (2010-),4,Afghanistan,5521,Aliments pour animaux,S2517,Millet et produits,2017,2017,Milliers de tonnes,0,I,Valeur imputée
14,FBS,Bilans Alimentaires (2010-),4,Afghanistan,5521,Aliments pour animaux,S2518,Sorgho et produits,2017,2017,Milliers de tonnes,0,I,Valeur imputée
16,FBS,Bilans Alimentaires (2010-),4,Afghanistan,5521,Aliments pour animaux,S2520,"Céréales, Autres",2017,2017,Milliers de tonnes,0,I,Valeur imputée

In [55]:
#Création d'un dataframe de produits céréaliers issu du dataframe dispo_alimentaire d'où on extrait les colonnes les plus utiles pour l'étude
UtiliteCereales=dispo_alimentaire[['Zone', 'Produit','Aliments pour animaux','Nourriture','Autres Utilisations','Exportations - Quantité','Disponibilité intérieure']]
UtiliteCereales = UtiliteCereales.loc[(UtiliteCereales ['Produit']=='Blé et produits')|(UtiliteCereales ['Produit']=='Riz et produits')|(UtiliteCereales ['Produit']=='Orge et produits')|(UtiliteCereales ['Produit']=='Maïs et produits')|(UtiliteCereales ['Produit']=='Seigle et produits')|(UtiliteCereales ['Produit']=='Avoine')|(UtiliteCereales ['Produit']=='Milet et produits')|(UtiliteCereales ['Produit']=='Sorgho et produits')|(UtiliteCereales ['Produit']=='Céréales, Autres')]
UtiliteCereales

,Zone,Produit,Aliments pour animaux,Nourriture,Autres Utilisations,Exportations - Quantité,Disponibilité intérieure
12,Afghanistan,"Céréales, Autres",NaN,0.0,NaN,NaN,0.0
67,Afrique du Sud,Avoine,8.0,40.0,NaN,4.0,49.0
81,Afrique du Sud,"Céréales, Autres",8.0,4.0,NaN,10.0,12.0
162,Albanie,Avoine,25.0,0.0,NaN,NaN,28.0
176,Albanie,"Céréales, Autres",0.0,0.0,NaN,0.0,0.0
...,...,...,...,...,...,...,...
15347,États-Unis d'Amérique,Avoine,1430.0,1265.0,NaN,102.0,2797.0
15361,États-Unis d'Amérique,"Céréales, Autres",77.0,200.0,NaN,91.0,271.0
15441,Éthiopie,Avoine,NaN,57.0,NaN,0.0,60.0
15454,Éthiopie,"Céréales, Autres",0.0,2495.0,469.0,0.0,3274.0
15545,Îles Salomon,"Céréales, Autres",NaN,0.0,NaN,NaN,0.0

**Part d'utilisation des céréales dans l'alimentation humaine**

In [56]:
#Somme des produits céréaliers utilisés dans la l'alimentation humaine
Somme_NourritureCere=UtiliteCereales['Nourriture'].sum()
#Somme des Disponiblites interieures en produits céraliers
Somme_DispoIntCere=UtiliteCereales['Disponibilité intérieure'].sum() 
#Pourcentage de l'utilisation des céréales dans l'alimentation humaine
Pourcentage_NourritureCere=(Somme_NourritureCere/Somme_DispoIntCere)*100
print("La part d'utilisation des céréales dans l'alimentation humaine est de:","%.2f" % Pourcentage_NourritureCere,"%")

La part d'utilisation des céréales dans l'alimentation humaine est de: 18.13 %

**Part d'utilisation des céréales dans l'alimentation animale**

In [57]:
#Somme des produits céréaliers utilisés dans la l'alimentation humaine
Somme_AlimAnimCere=UtiliteCereales['Aliments pour animaux'].sum()
#Somme des Disponiblites interieures en produits céraliers
Somme_DispoIntCere=UtiliteCereales['Disponibilité intérieure'].sum() 
#Pourcentage de l'utilisation des céréales dans l'alimentation humaine
Pourcentage_AlimAnimCere=(Somme_AlimAnimCere/Somme_DispoIntCere)*100
print("La part d'utilisation des céréales dans l'alimentation animale est de:","%.2f" % Pourcentage_AlimAnimCere,"%")

La part d'utilisation des céréales dans l'alimentation animale est de: 69.34 %

On constate que les céreales sont principalements utilisés pour nourrir les animaux

### ***III.2. Etude sur l'utilisation du manioc en Thailande***

In [58]:
UtiliteManioc=dispo_alimentaire[['Zone', 'Produit','Aliments pour animaux','Nourriture','Production','Exportations - Quantité','Importations - Quantité','Disponibilité intérieure']]
ThailandeUtiliteManioc=UtiliteManioc.loc[(UtiliteManioc['Zone']=='Thaïlande')&(UtiliteManioc['Produit']=='Manioc')]
ThailandeUtiliteManioc

,Zone,Produit,Aliments pour animaux,Nourriture,Production,Exportations - Quantité,Importations - Quantité,Disponibilité intérieure
13809,Thaïlande,Manioc,1800.0,871.0,30228.0,25214.0,1250.0,6264.0

**Part d'utilisation du manioc dans l'alimentation humaine**

In [59]:
PourcentageManiocAlimHum=(ThailandeUtiliteManioc['Nourriture']/ThailandeUtiliteManioc['Production'])*100
print("La part d'utilisation du manioc dans l'alimentation humaine est de:","%.2f" % PourcentageManiocAlimHum,"%")

La part d'utilisation du manioc dans l'alimentation humaine est de: 2.88 %

**Part d'utilisation du manioc dans l'alimentation animale**

In [60]:
PourcentageManiocAlimAnim=(ThailandeUtiliteManioc['Aliments pour animaux']/ThailandeUtiliteManioc['Production'])*100
print("La part d'utilisation des céréales dans l'alimentation animale est de:","%.2f" % PourcentageManiocAlimAnim,"%")

La part d'utilisation des céréales dans l'alimentation animale est de: 5.95 %

**Part d'exportation du manioc**

In [61]:
PourcentageManiocExport=(ThailandeUtiliteManioc['Exportations - Quantité']/ThailandeUtiliteManioc['Production'])*100
print("La part d'exportation du manioc est de:","%.2f" % PourcentageManiocExport,"%")

La part d'exportation du manioc est de: 83.41 %

**proportion de personnes malnutris en Thaïlande**

In [62]:
Thailande=proportion_pers_sous_nutris.loc[proportion_pers_sous_nutris['Zone']=='Thaïlande']
prop_PersSousNutrisThailande=(Thailande['Population sous nutris']/Thailande['Population'])*100
print("La proportion de personnes malnutris en Thaïlande est de:","%.2f" % prop_PersSousNutrisThailande,"%")

La proportion de personnes malnutris en Thaïlande est de: 8.96 %

# Informations supplémentaire qui mettent en relief les pays les plus en difficultés.

In [63]:
#Creation du dataframe A qui permettra l'étude des pays les plus en difficultés
A=dispo_alimentaire[['Zone','Production','Importations - Quantité','Exportations - Quantité','Pertes','Variation de stock']]
A

,Zone,Production,Importations - Quantité,Exportations - Quantité,Pertes,Variation de stock
0,Afghanistan,53.0,NaN,NaN,NaN,NaN
1,Afghanistan,3.0,40.0,2.0,2.0,NaN
2,Afghanistan,NaN,2.0,NaN,NaN,NaN
3,Afghanistan,NaN,0.0,NaN,NaN,NaN
4,Afghanistan,NaN,82.0,NaN,NaN,NaN
...,...,...,...,...,...,...
15600,Îles Salomon,2.0,0.0,NaN,NaN,NaN
15601,Îles Salomon,0.0,2.0,NaN,NaN,NaN
15602,Îles Salomon,NaN,0.0,NaN,NaN,NaN
15603,Îles Salomon,NaN,0.0,0.0,NaN,NaN
15604,Îles Salomon,0.0,0.0,0.0,NaN,NaN

In [64]:
B=A.groupby('Zone')['Production','Importations - Quantité', 'Exportations - Quantité','Pertes','Variation de stock'].sum()
B

C:\Users\bello\AppData\Local\Temp\ipykernel_30284\1952476963.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  B=A.groupby('Zone')['Production','Importations - Quantité', 'Exportations - Quantité','Pertes','Variation de stock'].sum()

,Production,Importations - Quantité,Exportations - Quantité,Pertes,Variation de stock
Zone,,,,,
Afghanistan,11171.0,2988.0,278.0,1135.0,-368.0
Afrique du Sud,63263.0,7517.0,11674.0,2193.0,2153.0
Albanie,3964.0,933.0,94.0,276.0,-45.0
Algérie,26359.0,17403.0,655.0,3753.0,-479.0
Allemagne,154547.0,65353.0,57431.0,3781.0,-192.0
...,...,...,...,...,...
Émirats arabes unis,1192.0,15327.0,4343.0,705.0,-327.0
Équateur,24337.0,1725.0,8002.0,707.0,557.0
États-Unis d'Amérique,894668.0,81887.0,163524.0,7162.0,-35032.0
Éthiopie,46102.0,1711.0,941.0,2256.0,-2857.0
Îles Salomon,739.0,81.0,118.0,6.0,-10.0

In [65]:
# Création et calcul des taux de dépendance des importations (TDI) pour chaque pays
B['TDI'] =(B['Importations - Quantité']/(B['Production']+B['Importations - Quantité']-B['Exportations - Quantité']+B['Variation de stock']))*100
B.head(10)

,Production,Importations - Quantité,Exportations - Quantité,Pertes,Variation de stock,TDI
Zone,,,,,,
Afghanistan,11171.0,2988.0,278.0,1135.0,-368.0,22.112040
Afrique du Sud,63263.0,7517.0,11674.0,2193.0,2153.0,12.270850
Albanie,3964.0,933.0,94.0,276.0,-45.0,19.609079
Algérie,26359.0,17403.0,655.0,3753.0,-479.0,40.825279
Allemagne,154547.0,65353.0,57431.0,3781.0,-192.0,40.272497
Angola,28857.0,4416.0,23.0,4799.0,-1228.0,13.790519
Antigua-et-Barbuda,20.0,63.0,0.0,0.0,-7.0,82.894737
Arabie saoudite,8878.0,27726.0,4707.0,1040.0,-628.0,88.669289
Argentine,176124.0,1212.0,52333.0,3522.0,-10632.0,1.059709
Arménie,3819.0,818.0,149.0,228.0,-95.0,18.620533

In [66]:
# Création et calcul des taux de suffisance alimentaire (TAS) pour chaque pays
B['TAS'] =(B['Production']/(B['Production']+B['Importations - Quantité']-B['Exportations - Quantité']+B['Variation de stock']))*100
B

,Production,Importations - Quantité,Exportations - Quantité,Pertes,Variation de stock,TDI,TAS
Zone,,,,,,,
Afghanistan,11171.0,2988.0,278.0,1135.0,-368.0,22.112040,82.668541
Afrique du Sud,63263.0,7517.0,11674.0,2193.0,2153.0,12.270850,103.271356
Albanie,3964.0,933.0,94.0,276.0,-45.0,19.609079,83.312316
Algérie,26359.0,17403.0,655.0,3753.0,-479.0,40.825279,61.834944
Allemagne,154547.0,65353.0,57431.0,3781.0,-192.0,40.272497,95.236540
...,...,...,...,...,...,...,...
Émirats arabes unis,1192.0,15327.0,4343.0,705.0,-327.0,129.352688,10.059921
Équateur,24337.0,1725.0,8002.0,707.0,557.0,9.265725,130.724607
États-Unis d'Amérique,894668.0,81887.0,163524.0,7162.0,-35032.0,10.525335,114.996035
Éthiopie,46102.0,1711.0,941.0,2256.0,-2857.0,3.887311,104.741565
Îles Salomon,739.0,81.0,118.0,6.0,-10.0,11.705202,106.791908

In [67]:
#Dataframe "proportion_pers_sous_nutris2017" qui permettait de déterminer la proportion de personnes sous-nutris dans la question 1
proportion_pers_sous_nutris2017=proportion_pers_sous_nutris.loc[proportion_pers_sous_nutris['Année']==2017]

In [68]:
#Création de du df "C" qui fusionne les df "proportion_pers_sous_nutris2017" et "B" pour déterminer le TDI, le TAS et les pertes en fonction de la proportion de personnes sous-nutris
C=pd.merge(B,proportion_pers_sous_nutris2017, on='Zone', how='inner')
C['PropPSN']=(C['Population sous nutris']/C['Population'])*100
C

,Zone,Production,Importations - Quantité,Exportations - Quantité,Pertes,Variation de stock,TDI,TAS,Population sous nutris,Année,Population,PropPSN
0,Afghanistan,11171.0,2988.0,278.0,1135.0,-368.0,22.112040,82.668541,10500000.0,2017.0,36296113.0,28.928718
1,Afrique du Sud,63263.0,7517.0,11674.0,2193.0,2153.0,12.270850,103.271356,3100000.0,2017.0,57009756.0,5.437666
2,Albanie,3964.0,933.0,94.0,276.0,-45.0,19.609079,83.312316,100000.0,2017.0,2884169.0,3.467203
3,Algérie,26359.0,17403.0,655.0,3753.0,-479.0,40.825279,61.834944,1300000.0,2017.0,41389189.0,3.140917
4,Allemagne,154547.0,65353.0,57431.0,3781.0,-192.0,40.272497,95.236540,NaN,2017.0,82658409.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
167,Émirats arabes unis,1192.0,15327.0,4343.0,705.0,-327.0,129.352688,10.059921,300000.0,2017.0,9487203.0,3.162154
168,Équateur,24337.0,1725.0,8002.0,707.0,557.0,9.265725,130.724607,1500000.0,2017.0,16785361.0,8.936358
169,États-Unis d'Amérique,894668.0,81887.0,163524.0,7162.0,-35032.0,10.525335,114.996035,NaN,2017.0,325084756.0,NaN
170,Éthiopie,46102.0,1711.0,941.0,2256.0,-2857.0,3.887311,104.741565,21100000.0,2017.0,106399924.0,19.830841
171,Îles Salomon,739.0,81.0,118.0,6.0,-10.0,11.705202,106.791908,50000.0,2017.0,636039.0,7.861153

In [69]:
#Suppression des colonnes devenues inutiles
C=C.drop(columns=['Population sous nutris','Population','Année','Variation de stock'])
C

,Zone,Production,Importations - Quantité,Exportations - Quantité,Pertes,TDI,TAS,PropPSN
0,Afghanistan,11171.0,2988.0,278.0,1135.0,22.112040,82.668541,28.928718
1,Afrique du Sud,63263.0,7517.0,11674.0,2193.0,12.270850,103.271356,5.437666
2,Albanie,3964.0,933.0,94.0,276.0,19.609079,83.312316,3.467203
3,Algérie,26359.0,17403.0,655.0,3753.0,40.825279,61.834944,3.140917
4,Allemagne,154547.0,65353.0,57431.0,3781.0,40.272497,95.236540,NaN
...,...,...,...,...,...,...,...,...
167,Émirats arabes unis,1192.0,15327.0,4343.0,705.0,129.352688,10.059921,3.162154
168,Équateur,24337.0,1725.0,8002.0,707.0,9.265725,130.724607,8.936358
169,États-Unis d'Amérique,894668.0,81887.0,163524.0,7162.0,10.525335,114.996035,NaN
170,Éthiopie,46102.0,1711.0,941.0,2256.0,3.887311,104.741565,19.830841
171,Îles Salomon,739.0,81.0,118.0,6.0,11.705202,106.791908,7.861153

In [70]:
#Remplacement des valeurs NaN par 0
C['PropPSN']=C['PropPSN'].fillna(0)
C

,Zone,Production,Importations - Quantité,Exportations - Quantité,Pertes,TDI,TAS,PropPSN
0,Afghanistan,11171.0,2988.0,278.0,1135.0,22.112040,82.668541,28.928718
1,Afrique du Sud,63263.0,7517.0,11674.0,2193.0,12.270850,103.271356,5.437666
2,Albanie,3964.0,933.0,94.0,276.0,19.609079,83.312316,3.467203
3,Algérie,26359.0,17403.0,655.0,3753.0,40.825279,61.834944,3.140917
4,Allemagne,154547.0,65353.0,57431.0,3781.0,40.272497,95.236540,0.000000
...,...,...,...,...,...,...,...,...
167,Émirats arabes unis,1192.0,15327.0,4343.0,705.0,129.352688,10.059921,3.162154
168,Équateur,24337.0,1725.0,8002.0,707.0,9.265725,130.724607,8.936358
169,États-Unis d'Amérique,894668.0,81887.0,163524.0,7162.0,10.525335,114.996035,0.000000
170,Éthiopie,46102.0,1711.0,941.0,2256.0,3.887311,104.741565,19.830841
171,Îles Salomon,739.0,81.0,118.0,6.0,11.705202,106.791908,7.861153

In [71]:
C['PropPSN'] = pd.to_numeric(C['PropPSN'], errors='coerce') # Convertir la colonne en numérique
C = C.dropna(subset=['PropPSN']) # Supprimer les valeurs manquantes dans la colonne

In [72]:
#Pays ayant la plus grande proportion de personnes sous-nutris en fonction des pertes, des TDI, TAS 
sousnutris=C.sort_values(['PropPSN'], ascending=False)
sousnutris.head(20)

,Zone,Production,Importations - Quantité,Exportations - Quantité,Pertes,TDI,TAS,PropPSN
46,Dominique,119.0,29.0,5.0,20.0,20.279720,83.216783,69.971172
65,Haïti,5072.0,1204.0,15.0,679.0,19.469599,82.018111,48.259182
132,République populaire démocratique de Corée,13883.0,993.0,83.0,1066.0,6.674733,93.318545,47.188685
135,Saint-Vincent-et-les Grenadines,131.0,74.0,28.0,5.0,40.659341,71.978022,45.526146
82,Kiribati,269.0,24.0,45.0,0.0,10.041841,112.552301,43.798945
91,Madagascar,14160.0,924.0,236.0,966.0,6.069763,93.017145,41.062924
87,Libéria,1533.0,470.0,34.0,111.0,23.453094,76.497006,38.279742
84,Lesotho,418.0,467.0,32.0,51.0,48.293692,43.226474,38.249438
150,Tchad,5153.0,290.0,0.0,459.0,5.469634,97.189740,37.957606
126,Rwanda,12952.0,558.0,331.0,435.0,5.551686,128.862800,35.055619
103,Mozambique,20742.0,1568.0,419.0,1163.0,7.119506,94.179077,32.810898
152,Timor-Leste,371.0,100.0,23.0,14.0,22.222222,82.444444,32.173531
0,Afghanistan,11171.0,2988.0,278.0,1135.0,22.112040,82.668541,28.928718
39,Congo,2968.0,604.0,6.0,342.0,17.042889,83.747178,27.393535
161,Venezuela (République bolivarienne du),23868.0,9604.0,62.0,1190.0,29.752169,73.940520,27.208586
140,Sierra Leone,6548.0,496.0,21.0,2191.0,7.552916,99.710675,26.707893
133,République-Unie de Tanzanie,40849.0,1871.0,1332.0,3236.0,4.902141,107.027013,24.515033
138,Sao Tomé-et-Principe,130.0,42.0,5.0,10.0,25.454545,78.787879,24.144209
71,Iraq,12923.0,9475.0,147.0,1529.0,43.621380,59.495419,23.966268
80,Kenya,28950.0,3060.0,1313.0,1444.0,9.840810,93.101785,23.695200

In [73]:
TDIFort=C.sort_values(['TDI'], ascending=False)
TDIFort.head(10)

,Zone,Production,Importations - Quantité,Exportations - Quantité,Pertes,TDI,TAS,PropPSN
45,Djibouti,76.0,1628.0,113.0,10.0,308.918406,14.421252,0.000000
33,Chine - RAS de Hong-Kong,470.0,9510.0,3604.0,216.0,148.130841,7.320872,0.000000
89,Luxembourg,593.0,1076.0,821.0,11.0,133.333333,73.482032,0.000000
18,Bermudes,6.0,77.0,24.0,0.0,130.508475,10.169492,0.000000
167,Émirats arabes unis,1192.0,15327.0,4343.0,705.0,129.352688,10.059921,3.162154
119,Pays-Bas,41636.0,52910.0,52179.0,597.0,124.617269,98.063969,0.000000
16,Belgique,24496.0,35276.0,30345.0,564.0,120.137588,83.424718,0.000000
113,Oman,1169.0,3464.0,1217.0,113.0,98.381142,33.200795,8.572786
83,Koweït,636.0,3690.0,467.0,159.0,96.344648,16.605744,0.000000
34,Chine - RAS de Macao,16.0,367.0,2.0,1.0,95.822454,4.177546,8.031032

In [74]:
TASFaible=C.sort_values(['TAS'])
TASFaible.head(10)

,Zone,Production,Importations - Quantité,Exportations - Quantité,Pertes,TDI,TAS,PropPSN
34,Chine - RAS de Macao,16.0,367.0,2.0,1.0,95.822454,4.177546,8.031032
33,Chine - RAS de Hong-Kong,470.0,9510.0,3604.0,216.0,148.130841,7.320872,0.000000
167,Émirats arabes unis,1192.0,15327.0,4343.0,705.0,129.352688,10.059921,3.162154
18,Bermudes,6.0,77.0,24.0,0.0,130.508475,10.169492,0.000000
45,Djibouti,76.0,1628.0,113.0,10.0,308.918406,14.421252,0.000000
83,Koweït,636.0,3690.0,467.0,159.0,96.344648,16.605744,0.000000
22,Brunéi Darussalam,60.0,244.0,11.0,4.0,83.848797,20.618557,0.000000
154,Trinité-et-Tobago,275.0,898.0,95.0,19.0,84.082397,25.749064,3.612563
6,Antigua-et-Barbuda,20.0,63.0,0.0,0.0,82.894737,26.315789,0.000000
7,Arabie saoudite,8878.0,27726.0,4707.0,1040.0,88.669289,28.392337,4.833665